.test {
    background-color: red;
}
.admin-li{
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid gray;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color:#fff;
  }