.admin-li{
  margin-bottom: 5px;
  padding: 30px;
  border: 1px solid rgb(57, 229, 149);
  border-radius: 4px; 
  text-align: center; 
  width: 100%; 
}
.taulukko{
  margin-left: 389px;
  border-collapse: collapse; 
  table-layout: fixed;
  width: 50%;
}
.content{
  width: 100%;

  /* Alkuperäset asetukset */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /* Väliaikaset asetukset */
  /* position: relative;
  transform: translateY(-100%); */

  text-align: center;
  color:#ffffff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.inner-content{
  width: 100%;
}
/* Myöhästyneille kirjoille */
.late{
  background-color: rgb(97, 8, 8);
  opacity: 0.7;
}
/* Filteri paneeli */
.filter-panel{
  border: 1px solid rgb(255, 255, 255);  
}

/* Aktiivinen filtteri */
.active{
  background-color: blueviolet;
  border: 1px solid black;
}

#search-bar-input-field{
    opacity: 0.6;
    border: 4px solid #26f2bc;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 10px rgba(150, 85, 23, 0.1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}
#search-bar-input-field:hover {
    background-color: #2be5ba;
}

/* 
  Adminsivun taulukko
  /modules/admin-sivu/taulukkoModules
 */
.admin-root-table{
  margin: 0 auto;
  margin-top: 10%;
  /* width: 90%; */
  position: relative;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100hv;
}

/* .admin-root-tbody{
  border: 1px solid red;
} */



/* Scrollbarin asetukset*/

/* Inputin placeholderin väri */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    black;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    black;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    black;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    black;
}

::placeholder { /* Most modern browsers support this now. */
 color:    black;
}

/* Nuolet*/
.arrow-button {
  top: 50%;
  right: 0; 
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #07fc8a;
  clip-path: polygon(0% 40%, 50% 0%, 100% 40%);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.arrow-button.rotated {
    transform: translateY(-50%) rotate(180deg);
}